extends ./layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Sed nec neque a nibh mollis ultrices in ut libero. Pellentesque quis dolor at leo efficitur posuere nec sed neque. Cras dictum feugiat velit, a fermentum ipsum vulputate vitae. Nam viverra quam eu metus aliquet, auctor tempus libero accumsan. Aliquam cursus dolor in fringilla dapibus. 
                p Nullam ultrices leo vitae cursus cursus. Aliquam erat turpis, maximus efficitur imperdiet nec, sodales id dolor. Etiam mattis non dui id consectetur. Nullam in justo sollicitudin, ullamcorper nisl sit amet, venenatis ante. Phasellus a justo a metus blandit eleifend sed nec augue.
                p Suspendisse massa ante, ultricies id purus at, dapibus gravida orci. Duis vulputate, neque vitae vehicula maximus, leo enim commodo orci, a auctor lorem mi sit amet eros. Fusce metus leo, pharetra nec massa vitae, porttitor iaculis erat. Maecenas mollis urna quis justo fringilla, vel ultrices elit bibendum. Morbi vel augue neque.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Maecenas elementum varius purus ut consectetur. Donec sit amet tellus vitae sem aliquet luctus. Nunc consectetur facilisis quam in rutrum. Quisque faucibus commodo purus.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p In ultrices, tortor vitae venenatis ullamcorper, quam felis malesuada lectus, eget laoreet est eros sit amet nunc. Curabitur arcu lectus, rutrum vel urna ac, tincidunt ornare purus
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Mauris laoreet, mi quis ullamcorper egestas, ipsum elit congue libero, quis dignissim ante erat ac nulla. Cras vitae facilisis elit. Suspendisse ac ullamcorper augue.